# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Datos
data/raw/
data/processed/*.csv
!data/processed/.gitkeep

# Modelos
models/*.joblib

# IDE
.vscode/
.idea/
